{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h2 class="mb-4 text-success">Compra Realizada com Sucesso!</h2>
        <p class="lead">Obrigado por comprar na Loja Bosque Mágico.</p>
        <p>Seu pedido foi processado e logo será enviado.</p>
        <a href="{% url 'product_list' %}" class="btn btn-primary mt-3">Continuar Comprando</a>
        <a href="{% url 'order_history' %}" class="btn btn-secondary mt-3">Ver Meus Pedidos</a>
    </div>
</div>
{% endblock %}