{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h3 class="mb-4">Categorias</h3>
        <div class="list-group">
            <a href="{% url 'product_list' %}" class="list-group-item list-group-item-action {% if not categoria_atual %}active{% endif %}">
                Todas
            </a>
            {% for c in categorias %}
            <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action {% if categoria_atual == c %}active{% endif %}">
                {{ c.nome }}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-9">
        
        <h2 class="mb-4">
            {% if categoria_atual %}
                {{ categoria_atual.nome }}
            {% elif query %}
                Resultados para: "{{ query }}"
            {% else %}
                Nossos Produtos
            {% endif %}
        </h2>
        <div class="row">
            {% for produto in produtos %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    {% if produto.imagem %}
                        <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
                    {% else %}
                        <img src="https://via.placeholder.com/300x200.png?text=Sem+Imagem" class="card-img-top" alt="Sem Imagem">
                    {% endif %}
                    
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">{{ produto.descricao|truncatewords:15 }}</p>
                        <h6 class="card-subtitle mb-2 text-success">R$ {{ produto.preco }}</h6>
                        <a href="{% url 'add_to_cart' produto.id %}" class="btn btn-primary mt-auto">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Nenhum produto encontrado.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}